@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

html {
  height: 100%;
}

.App {
  display: flex;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

.p-body {
  padding: 100px 50px;
}

input,
input::placeholder {
  font-family: Arial, Helvetica, sans-serif !important;
}

textarea {
  outline: none;
}

.options {
  width: 20%;
}

.three-dots:after {
  cursor: pointer;
  color: #fcc;
  content: "\2807";
  font-size: 20px;
  padding: 0 5px;
}

.user-info h1,
.user-info img {
  cursor: pointer !important;
}

a {
  text-decoration: none;
  color: #000000;
  cursor: pointer !important;
}

a:hover {
  color: #222222;
}

.hover-blue:hover {
  background-color: #a2c1e0 !important;
  color: #fff !important;
}

.hover-red:hover {
  background-color: #bd3922 !important;
  color: #fff !important;
}

.hover-green:hover {
  background-color: #73d673 !important;
  color: #fff !important;
}

div.absolute {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  z-index: 1000;
  justify-content: center;
  height: 100vh;
  overflow-y: hidden;
  top: 0;
  left: 0;
}

div.absolute .absolute-content {
  width: 90%;
  height: auto;
  max-height: 80vh;
  overflow-y: auto;
  background-color: #fff;
  border-radius: 5px;
  margin: 50px auto;
  padding: 20px;
  position: relative;
}

div.absolute .absolute-content.popup {
  width: 500px;
  margin: 200px auto;
  max-height: 50vh;
}

.popup h1 {
  text-align: center;
  font-size: 20px;
}

.popup p {
  text-align: center;
}

.popup div {
  display: flex;
  justify-content: center;
}

.popup button {
  background-color: #bd3922;
  color: #fff;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  margin: 0 5px;
}

.popup button:first-of-type {
  background-color: #000;
  color: #fff;
}

button.absolute-close {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  border: none;
  padding: 4px 7px 2px;
  border-radius: 40px;
  font-size: 16px;
  position: absolute;
  right: 20px;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

button.absolute-close:hover {
  background-color: #bd3922;
}

.cursor-pointer {
  cursor: pointer;
}

.margin100 {
  margin: 100px auto !important;
}

button {
  cursor: pointer;
}

.translate {
  margin: 0 10px 10px;
  color: #222222;
  cursor: pointer;
}

.translated {
  margin-left: 10px;
  margin-top: 0;
  font-style: italic;
}

.tags {
  display: flex;
}

.tag {
  font-weight: 300;
  font-size: 12px;
  background-color: #eee;
  padding: 3px 5px;
  margin-left: 5px;
  border-radius: 3px;
}

.error {
  color: red;
  margin-top: 0;
  font-size: 12px;
}

input.error,
textarea.error {
  border: 1px solid red !important;
}

.MuiAppBar-root {
  z-index: 111111;
}

.cssload-loader {
  display: block;
  margin: 500px auto;
  width: 41px;
  height: 41px;
  position: relative;
  border: 6px solid #f50057;
  animation: cssload-loader 2s infinite ease;
  -o-animation: cssload-loader 2s infinite ease;
  -ms-animation: cssload-loader 2s infinite ease;
  -webkit-animation: cssload-loader 2s infinite ease;
  -moz-animation: cssload-loader 2s infinite ease;
}

.cssload-loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #f50057;
  animation: cssload-loader-inner 2s infinite ease-in;
  -o-animation: cssload-loader-inner 2s infinite ease-in;
  -ms-animation: cssload-loader-inner 2s infinite ease-in;
  -webkit-animation: cssload-loader-inner 2s infinite ease-in;
  -moz-animation: cssload-loader-inner 2s infinite ease-in;
}

@keyframes cssload-loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes cssload-loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-ms-keyframes cssload-loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes cssload-loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes cssload-loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes cssload-loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

@-o-keyframes cssload-loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

@-ms-keyframes cssload-loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

@-webkit-keyframes cssload-loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

@-moz-keyframes cssload-loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

.searchbar {
  position: relative;
  display: flex;
  justify-content: center;
}

.searchbar .searched {
  position: absolute;
  width: 70%;
  background-color: #fff;
  top: 43px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.1);
}

.searchbar form {
  width: 50%;
  position: relative;
}

.searchbar input {
  width: 100%;
  outline: none;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 1rem;
  color: #333434;
}

.searchbar i {
  position: absolute;
  top: 10px;
  right: -20px;
}

.searchbar .searched hr {
  border: 1px solid #eee;
  margin: 0 10px;
}

.searchbar .searched button {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 10px;
  display: flex;
  align-items: center;
}

.searchbar .searched button:hover {
  background-color: #eaf1f7;
}

.searchbar .searched img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.searchbar .searchbar h6 {
  text-align: left;
}

.searchbar .detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.searchbar p,
.searchbar h6 {
  margin: 5px 10px;
  color: #222222;
  font-weight: 700;
  font-family: Roboto, "sans-serif";
}

.searchbar p {
  font-size: 15px;
}

.searchbar h6 {
  font-size: 11px;
  font-weight: 400;
  margin-top: 0;
}
